/*start iconmoon */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l06amw');
  src:  url('fonts/icomoon.eot?l06amw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l06amw') format('truetype'),
    url('fonts/icomoon.woff?l06amw') format('woff'),
    url('fonts/icomoon.svg?l06amw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copyright-svgrepo-com-2:before {
  content: "\e907";
}
.icon-linkedin-logo-svgrepo-com:before {
  content: "\e904";
}
.icon-facebook-svgrepo-com:before {
  content: "\e905";
}
.icon-twitter-logo-shape-svgrepo-com:before {
  content: "\e908";
}
.icon-whatsapp-logo-variant-svgrepo-com:before {
  content: "\e90d";
}
.icon-telegram-svgrepo-com:before {
  content: "\e909";
}
.icon-mobile-svgrepo-com:before {
  content: "\e902";
  color: rgba(174, 100, 76, 1);
  font-size: 25px;
}
.icon-headphone-svgrepo-com:before {
  content: "\e903";
  font-size: 1.3em;
}
.icon-filter-left-svgrepo-com:before {
  content: "\e900";
  font-size: 24px;
  font-weight: bolder;
  margin-right: 10px
}
.icon-grid-svgrepo-com:before {
  content: "\e901";
  font-size: 1.3em;
  margin: 0 10px;
}
.icon-instagram:before {
  content: "\e906";
}
.icon-list:before {
  content: "\e90a";
  font-size: 1.3em;
  font-weight: bolder;
}
.icon-mail:before {
  content: "\e90b";
}
.icon-truck:before {
  content: "\e90c";
}

/* end iconmoon */

*::selection {
  color: #fff;
  background-color: rgba(174, 100, 76, 1);
}

.toya-color {
  color: rgba(174, 100, 76, 1)
}

.toya-bg {
  background-color: rgba(174, 100, 76, 1)
}

.toya-border {
  border: 1px solid rgba(174, 100, 76, 1)
}

input:-webkit-autofill {
  border: none !important;
  border-bottom: 1px solid #e5e7eb !important;
}

/* Contact Page */

.form-control {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #d1d6db !important;
}

.form-control:focus {
  outline: none !important;
  border: none !important;
  color: #212529;
  background-color: #fff;
  border: 1px solid #d1d6db !important;
  /* border-right:1px solid #d1d6db !important;
  border-left:1px solid #d1d6db !important; */

  box-shadow: none !important;
}

.contact-form {
  border: 1px solid #d1d6db;
  border-radius: 5px;
  /* padding: 50px */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  input:focus~label,
  input:not(:placeholder-shown)~label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus~label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-8
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover: bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[36px] leading-[48px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[36px] leading-[48px] font-semibold;
  }
}

/* Start CartDropdown*/
.cartDown-height {
  max-height: calc(100% - 200px)
}

span.checkout {
  display: block;
  color: #8c8c8c;
  background-color: #f3f3f3;
  padding: 11px 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

span.checkout:hover {
  background-color: #333;
  color: #fff;
}

.total-items {
  width: 15px;
  height: 15px;
  top: -13px;
  right: -8px;
  background-color: rgba(174, 100, 76, 1);
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  color: #fff;
  font-size: 10px
}

/* End CartDropdown*/

/* Start FeaturedProducts */

@media (min-width: 1920px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1680px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (max-width: 1140px) {
  .contHead {
    display: none;
  }
}


@media (max-width: 1023px) {

  .navbar-expand-lg .navbar-collapse,
  .contHead {
    display: none !important;
  }
}

@media (min-width: 1024px) {

  .hamburger {
    display: none;
  }
}


.actNav {
  padding-bottom: 3px;
  color: rgba(174, 100, 76, 1) !important;
  border-bottom: 2px solid rgba(174, 100, 76, 1)
}

.main-nav a:hover {
  padding-bottom: 3px;
  color: rgba(174, 100, 76, 1) !important;
  border-bottom: 2px solid rgba(174, 100, 76, 1)
}

.header-categories {
  color: rgba(174, 100, 76, 1);
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 10px;
}

.header-line {
  width: 100%;
  height: 3px;
  background-color: rgba(174, 100, 76, 1);
}

.img img,
.img-component img {
  transition: all 0.3s ease;
}

.categories-components:hover .img img,
.enjoy-time-saving:hover .img-component img,
.men-best-selling:hover .img-component img,
.sale-up:hover .img-component img {
  cursor: pointer;
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
}

/* End FeaturedProducts */

/* Start Best Seller */
.bestSeller {
  background-image: url('../../public/Rectangle-1876.jpg');
  background-size: cover;
  background-position: center center;
}

.best-head,
.best-span,
.card-title-price,
.blog-head {
  color: rgba(174, 100, 76, 1);
}

.best-span,
.blog-head {
  font-weight: bolder;
  font-size: 30px;
}

.nav-pills .nav-link.active {
  border-bottom: 2px solid rgba(174, 100, 76, 1);
  border-radius: 0;
}

.nav-link,
.card-title span {
  color: #707070;
}

a.back-to-chart:hover,
.nav-link:hover,
.card-title span:hover {
  color: rgba(174, 100, 76, 1) !important;
}

.nav-link:focus {
  border-radius: 0;
  border-bottom: 2px solid rgba(174, 100, 76, 1);
  color: rgba(174, 100, 76, 1);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: rgba(174, 100, 76, 1);
  background-color: transparent;
}

/* End Best Seller */

/* Start influencers reviews */
.influencers {
  background-color: #fbf3ea;
  background-image: url("../../public/textrue-2.svg");
}

.signup-discount {
  transition: all 0.3s ease;
  background-image: url("../../public/waves-Repeat-Grid-1.svg");
}

.signup-discount:hover {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: none;
}

.signup-discount p {
  font-size: 15px;
  color: #363636;
  font-weight: bold;
}

.subscribe input {
  padding: 5px 10px;
  width: 100%;
  background-color: #fff;
  color: #363636;
  border: 1px solid #BEBEBE;
}

.subscribe input:focus {
  outline: none;
  border: 1px solid #BEBEBE;
}

.subscribe button {
  background-color: #25252d !important;
  color: #fff;
  font-weight: bold;
}

.subscribe button:hover {
  outline: none;
  background-color: rgba(174, 100, 76, 1) !important;
  color: #fff;
}

/* End influencers reviews */

/* Start Blog */
.blogs .header span {
  transition: all 0.3s ease;
}

.blogs .header span:hover {
  cursor: pointer;
  color: rgba(174, 100, 76, 1);
}

.blog-box {
  transition: all 0.3s ease;
}

.blog-box:hover {
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
  cursor: pointer;
}

.blog-card-body p {
  font-size: 18px;
  font-weight: bold;
  color: #282828;
}

.blog-card-body span {
  font-size: 12px;
  color: #9c9c9c;
}

.card-p {
  font-size: 14px;
  color: #101010;
}

/* End Blog */

/* Start Footer */
.footer-line {
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: rgba(174, 100, 76, 1);
}

.foot-nav {
  color: #000 !important;
  font-weight: bold;
  font-size: 13px;
}

.foot-nav a:hover {
  color: #363636 !important;
}

.play-store {
  border: 1px solid#D9D9D9;
}

.play-store:hover,
.play-store:focus {
  border: 1px solid#D9D9D9 !important;
  outline: none;
}

.play-store img {
  width: 23.8px;
  height: 26px;
}

.download .now {
  font-size: 10px;
  font-weight: 400;
}

.download .store {
  font-size: 14px;
  font-weight: 500;
}

.contact-Nav {
  font-size: 14px;
}

/* End Footer */

/* Start Shop */
.shop {
  color: #767676;

}

.shop a {
  font-size: 11px;
  padding: 4px 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .05);
  color: #767676;
  font-weight: bold;
}

.shop a:hover {
  color: rgba(174, 100, 76, 1) !important;
}

.shop span svg {
  font-size: 10px;
}

.shop span {
  font-size: 12px;
}

.filter {
  color: #5a5a5a;
}

input[type=radio] {
  accent-color: rgba(174, 100, 76, 1);
}

a.dropdown-toggle:hover {
  color: #212529;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 1em;
  vertical-align: 0.1em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* Start Product Preview */
.title {
  font-size: 15.4px;
  color: #3a3a3a;
  font-weight: bold;
  transition: all 0.3s ease;
}

.title:hover,
.price {
  color: rgba(174, 100, 76, 1);
}

.price {
  font-size: 16px;
}

/* End Product Preview */

/* Start Product Actions */
.product-title {
  color: #707070;
  font-size: 24px;
}

.border-color {
  border: 1px solid rgba(174, 100, 76, 1) !important;
}

.cart-btn {
  color: #fff;
  font-weight: bold;
  background-color: rgba(174, 100, 76, 1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-text {
  width: 40px;
  height: 46px;
  border: 1px solid #eae1e1 !important;
}

.plus-min div {
  width: 26px;
  height: 23px;
  text-align: center;
  padding: 0px;
  border: 1px solid #eae1e1 !important;
  border-radius: 0;
  transition: all 0.3s ease;
}

.plus-min div:hover {
  border: 0;
  outline: none;
  background-color: #eae1e1;
}

.plus-min div:focus,
.input-text:focus {
  border: 0;
  outline: none;
}

/* End Product Actions */

/* Start infinite products*/
/* .prod-cart-btn {
  bottom: 19%;
} */

/* End infinite products*/

/* End Shop */

/* Start carousel */
.react-multiple-carousel__arrow {
  background: #fff !important;

}

.react-multiple-carousel__arrow::before {
  color: #000 !important;
  font-size: 25px !important;
  font-weight: bolder !important;

}

.react-multiple-carousel__arrow--right {
  right: calc(1% + 1px) !important;
}

.react-multiple-carousel__arrow--right::before {
  content: "\2192" !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(1% + 1px) !important;
}

.react-multiple-carousel__arrow--left::before {
  content: "\2190" !important;
}

button.react-multiple-carousel__arrow {
  display: none !important;
}

.carasol-slider:hover button.react-multiple-carousel__arrow {
  display: block !important;
}

ul.react-multi-carousel-track li {
  padding: 0px 10px !important;
}

/* End carousel */