*::selection {
  color: #fff;
  background-color: rgba(174, 100, 76, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  input:focus~label,
  input:not(:placeholder-shown)~label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus~label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-8
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover: bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[36px] leading-[48px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[36px] leading-[48px] font-semibold;
  }
}

/* Start FeaturedProducts */

@media (min-width: 1920px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1680px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}
.actNav{
  padding-bottom: 3px;
  color: rgba(174, 100, 76, 1) !important;
  border-bottom: 2px solid rgba(174, 100, 76, 1)
}
.main-nav a:hover {
  padding-bottom: 3px;
  color: rgba(174, 100, 76, 1) !important;
  border-bottom: 2px solid rgba(174, 100, 76, 1)
}

.header-categories {
  color: rgba(174, 100, 76, 1);
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 10px;
}

.header-line {
  width: 100%;
  height: 3px;
  background-color: rgba(174, 100, 76, 1);
}

.img img,
.img-component img {
  transition: all 0.3s ease;
}

.categories-components:hover .img img,
.enjoy-time-saving:hover .img-component img,
.men-best-selling:hover .img-component img,
.sale-up:hover .img-component img {
  cursor: pointer;
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
}

/* End FeaturedProducts */

/* Start Best Seller */
.bestSeller {
  background-image: url('../../public/Rectangle-1876.jpg');
  background-size: cover;
  background-position: center center;
}

.best-head,
.best-span,
.card-title-price,
.blog-head {
  color: rgba(174, 100, 76, 1);
}

.best-span,
.blog-head {
  font-weight: bolder;
  font-size: 30px;
}

.nav-pills .nav-link.active {
  border-bottom: 2px solid rgba(174, 100, 76, 1);
  border-radius: 0;
}

.nav-link,
.card-title span {
  color: #707070;
}

.nav-link:hover,
.card-title span:hover {
  color: rgba(174, 100, 76, 1);
}

.nav-link:focus {
  border-radius: 0;
  border-bottom: 2px solid rgba(174, 100, 76, 1);
  color: rgba(174, 100, 76, 1);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: rgba(174, 100, 76, 1);
  background-color: transparent;
}

/* End Best Seller */

/* Start influencers reviews */
.influencers {
  background-color: #fbf3ea;
  background-image: url("../../public/textrue-2.svg");
}

.signup-discount {
  transition: all 0.3s ease;
  background-image: url("../../public/waves-Repeat-Grid-1.svg");
}

.signup-discount:hover {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: none;
}

.signup-discount p {
  font-size: 15px;
  color: #363636;
  font-weight: bold;
}

.subscribe input {
  padding: 5px 10px;
  width: 100%;
  background-color: #fff;
  color: #363636;
  border: 1px solid #BEBEBE;
}

.subscribe input:focus {
  outline: none;
  border: 1px solid #BEBEBE;
}

.subscribe button {
  background-color: #25252d !important;
  color: #fff;
  font-weight: bold;
}

.subscribe button:hover {
  outline: none;
  background-color: rgba(174, 100, 76, 1) !important;
  color: #fff;
}

/* End influencers reviews */

/* Start Blog */
.blogs .header span {
  transition: all 0.3s ease;
}

.blogs .header span:hover {
  cursor: pointer;
  color: rgba(174, 100, 76, 1);
}

.blog-box {
  transition: all 0.3s ease;
}

.blog-box:hover {
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
  cursor: pointer;
}

.blog-card-body p {
  font-size: 18px;
  font-weight: bold;
  color: #282828;
}

.blog-card-body span {
  font-size: 12px;
  color: #9c9c9c;
}

.card-p {
  font-size: 14px;
  color: #101010;
}

/* End Blog */
/* Start Footer */
.footer-line {
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: rgba(174, 100, 76, 1);
}

.foot-nav {
  color: #000 !important;
  font-weight: bold;
  font-size: 13px;
}

.foot-nav a:hover {
  color: #363636 !important;
}

.play-store {
  border: 1px solid#D9D9D9;
}

.play-store:hover,
.play-store:focus {
  border: 1px solid#D9D9D9 !important;
  outline: none;
}

.play-store img {
  width: 23.8px;
  height: 26px;
}

.download .now {
  font-size: 10px;
  font-weight: 400;
}

.download .store {
  font-size: 14px;
  font-weight: 500;
}

.contact-Nav {
  font-size: 14px;
}

/* End Footer */

/* Start Shop */
.shop{
  color: #767676;

}
.shop a {
  font-size: 11px;
  padding: 4px 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .05);
  color: #767676;
  font-weight: bold;
}
.shop a:hover{
  color: rgba(174, 100, 76, 1) !important;
}
.shop span svg{
  font-size: 10px;
}
.shop span {
  font-size: 12px;
}
.filter{
  color: #5a5a5a;
}
input[type=checkbox] {
  accent-color: rgba(174, 100, 76, 1);
}

/* End Shop */